/*.container {*/
    /*float: left;*/
    /*height: 250px;*/
    /*width: 250px;*/
    /*padding: 3px;*/
    /*background: #FFA500;*/
/*}*/


#header {
    display:inline;
    text-align: left;
    display:inline-block;
    width:49%

}


#providerName {
    display:inline;
    display:inline-block;
    width: 50%;
    text-align: right;
    color: darkgrey;
    font-weight: bold;
}


.scaling-svg-container {
    height: 600px;
    width: 1150px;
    overflow: auto;
    border: 2px;
}



/*on hover of box plot bars*/
.bar:hover {
    fill: black !important;
}




* {
pointer-events: all;
}



/*on hover of background rectangle bars*/

.back_ground_bar:hover {
opacity: 0.5!important;

fill: lightgrey !important;
}

/*axis text*/

/*.axis {*/
    /*font: 14px times;*/

/*}*/


.chart text {
    fill: cyan;
    font: 2px sans-serif;
    text-anchor: middle;
}


.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}


.lines {
    stroke:black;
    stroke-width:1;
}


.lines:hover {
    stroke: black;
    stroke-width:2;
}


.medianLine {
    stroke: black;
    stroke-width:0.5;
    stroke-dasharray: 1;
}

.medianLine:hover {
    stroke-dasharray: 0;
    stroke: black;
    stroke-width:2;
}


.d3-tip {
    line-height: 1;
    padding: 6px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
}

/*.d3-tip:after {*/
    /*box-sizing: border-box;*/
    /*display: inline;*/
    /*font-size: 10px;*/
    /*width: 100%;*/
    /*line-height: 1;*/
    /*color: rgba(0, 0, 0, 0.8);*/
    /*content: "\25BC";*/
    /*position: absolute;*/
    /*text-align: center;*/
/*}*/


.d3-tip-for-bar {
    transform: translate(0px, 200px);
    /*line-height: 1;*/
    padding: 6px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
}