.jumbotron{
    /*background-size: cover;*/
    padding: auto;
    width: 100%;
    margin-top:0px;
}


.list-group{
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}


