.jumbotron{
    /*background-size: cover;*/
    padding: auto;
    width: 100%;
    margin-top:0px;
}


.list-group{
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.inline_h5{
    display: inline-block;
    /*color: #6b89ba;*/
}


/*#toggle_btn:hover {*/

    /*background-color: grey !important;*/

/*}*/


.toggle_btn.active {
    font-weight: bold;

    color: white !important;
    background-color: #6c757d !important;
    /*background-color: #6b89ba !important;*/

}


.list-group .list-group-item .list-group-item-action{
    font-weight: bold !important;
    color: white !important;

}

/*.btn-group { display: inline-block; }*/


/*#theDiv{*/
    /*display: inline;*/
/*}*/