.jumbotron{
    /*background-size: cover;*/
    padding: auto;
    width: 100%;
    margin-top:0px;
}


.list-group{
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}


/*#toggle_btn:hover {*/

    /*background-color: grey !important;*/

/*}*/


/*#toggle_btn.active {*/

    /*background-color: green !important;*/

/*}*/

/*.btn-group { display: inline-block; }*/


/*#theDiv{*/
    /*display: inline;*/
/*}*/